<div class="about">
    <a href="{{ '/' | relative_url}}">
        <img src="{{site.baseurl }}/{{ site.profile }}" />
    </a>
</div>
<div class="author">
    <h3>{{ site.author }}</h3>
    <p>{{ site.tagline }}</p>
    <ul class="social">
        <li><a href="mailto:{{ site.email }}" class="email"></a></li>
        <li><a href="{{ site.github }}" class="github" ></a></li>
        <li><a href="{{ site.instagram }}" class="instagram"></a></li>
    </ul>
</div>
<div class="menu">
    <ul class="category">
        <!-- <li><a class="category-item" href="/c">C</a></li> -->
        <!-- <li><a class="category-item" href="/java">Java</a></li> -->
        <!-- <li><a class="category-item" href="/kotlin">Kotlin</a></li> -->
        <!-- <li><a class="category-item" href="/objc">ObjC</a></li> -->
        <!-- <li><a class="category-item" href="/python">Python</a></li> -->
        <!-- <li><a class="category-item" href="/rust">Rust</a></li> -->
        <!-- <li><a class="category-item" href="/swift">Swift</a></li> -->
        <li><a class="category-item" href="/life">Life</a></li>
    </ul>
</div>
