.author h3 {
  margin: 0;
  padding: 0;
}

.social {
  a {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    &:hover {
      filter: $link-hover-filter;
    }
  }
  .email {
    background: url('/assets/bootstrap-envelope.svg') no-repeat;
    background-size: $social-icon-size;
  }
  .github {
    background: url('/assets/bootstrap-github.svg') no-repeat;
    background-size: $social-icon-size;
  }
  .instagram {
    background: url('/assets/bootstrap-instagram.svg') no-repeat;
    background-size: $social-icon-size;
  }
}

h1.headline {
  width: 100%;
  font-family: $monospace;
  font-size: $head-font-h1;
  margin: .5em 0 1em 0;
  padding-bottom: .5em;
  border-bottom: 1px solid $divider-color;
  @media screen and (min-width: $screen-tablet) {
    font-size: $head-font-h0;
  }
}

aside.post-teaser img {
  border-radius: $radius-tiny-size;
}

.post-meta {
  font-size: $text-font-size-medium;
  font-family: $monospace;
  padding-bottom: $unit-gap;
}

.post-content {
  font-family: $sans-serif;  /* "Noto Serif KR", $serif; */
  font-size: $text-font-size-medium;
  line-height: 1.7;
  word-break: normal;
  overflow-wrap: break-word;
  @media screen and (min-width: $screen-desk) {
    font-size: $text-font-size-large;
  }
  p {
    text-align: left;
    line-break: loose;
    @media screen and (min-width: $screen-tablet) {
      text-align: justify;
    }
    code {
      font-family: $serif;
      font-size: .95em;
    }
  }
  li {
    font-family: $sans-serif;
    font-size: $text-font-size-small;
    line-height: 1.5;
    @media screen and (min-width: $screen-desk) {
      font-size: $text-font-size-medium;
    }
  }
  blockquote p {
    text-align : left;
  }
}

.post-preview {
  .post-title {
    font-size: $head-font-h3;
    @media screen and (min-width: $screen-tablet) {
      font-size: $head-font-h2;
    }
    @media screen and (min-width: $screen-laptop) {
      font-size: $head-font-h1;
    }
  }
  .post-meta {
    font-size: $text-font-size-small;
  }
  .post-content {
    font-size: $text-font-size-medium;
    line-height: 1.6;
  }
}

.post-list {
  padding: 0 0 0 $unit-gap;
  li {
    line-height: 1.4;
    margin-bottom: $unit-gap;
    @media screen and (min-width: $screen-laptop) {
      margin-bottom: calc($unit-gap / 2);
    }
  }
  .post-meta {
    font-size: $text-font-size-small;
    @media screen and (min-width: $screen-laptop) {
      font-size: $text-font-size-medium;
    }
  }
  .post-link {
    font-family: $sans-serif;
    font-size: $text-font-size-medium;
    @media screen and (min-width: $screen-laptop) {
      font-size: $text-font-size-large;
    }
  }
}

.post-footer {
  border-top: 1px solid $divider-color;
  margin-top: $layout-gap;
}

.post-tags {
  font-family: $monospace;
  font-size: $text-font-size-code;
  color: #AFB0B3;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    &::before {
      content: "♯";
      color: #D8D8D8;
    }
    padding-right: $unit-gap;
  }
}

.foot-log {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #C8C9CC;
}

