.author h3 {
  margin: 0;
  padding: 0;
}

.social {
  a {
    display: inline-block;
    width: $social-icon-size;
    height: $social-icon-size;
    &:hover {
      filter: $link-hover-filter;
    }
  }
  .email {
    background: url('/assets/bootstrap-envelope.svg') no-repeat;
    background-size: $social-icon-size;
  }
  .github {
    background: url('/assets/bootstrap-github.svg') no-repeat;
    background-size: $social-icon-size;
  }
  .instagram {
    background: url('/assets/bootstrap-instagram.svg') no-repeat;
    background-size: $social-icon-size;
  }
}

h1.headline {
  width: 100%;
  font-family: $monospace;
  font-size: $head-font-h1;
  margin: .5em 0 1em 0;
  padding-bottom: .5em;
  border-bottom: 1px solid $divider-color;
  @media screen and (min-width: $screen-tablet) {
    font-size: $head-font-h0;
  }
}

aside.post-teaser img {
  border-radius: $radius-tiny-size;
}

.post-meta {
  font-size: $text-font-size-medium;
  font-family: $monospace;
  padding-bottom: $unit-gap;
}

.post-content {
  font-family: "Noto Serif KR", $serif;
  font-size: $text-font-size-medium;
  line-height: 1.6;
  @media screen and (min-width: $screen-tablet) {
    font-size: $text-font-size-large;
  }
  @media screen and (min-width: $screen-desk) {
    font-size: $text-font-size-extra;
  }
  p {
    text-align : justify;
    word-break: break-all;
  }
  li {
    font-family: $sans-serif;
    font-size: $text-font-size-medium;
    line-height: 1.4;
  }
  blockquote p {
    text-align : left;
    word-break: normal;
  }
}

.post-preview {
  .post-title {
    font-size: $head-font-h3;
    @media screen and (min-width: $screen-tablet) {
      font-size: $head-font-h2;
    }
    @media screen and (min-width: $screen-laptop) {
      font-size: $head-font-h1;
    }
  }
  .post-meta {
    font-size: $text-font-size-small;
  }
  .post-content {
    font-size: $text-font-size-medium;
    line-height: 1.4;
  }
}

.post-list {
  padding: 0 0 0 $unit-gap;
  li {
    line-height: 1.4;
    margin-bottom: $unit-gap;
    @media screen and (min-width: $screen-laptop) {
      margin-bottom: calc($unit-gap / 2);
    }
  }
  .post-meta {
    font-size: $text-font-size-medium;
    @media screen and (min-width: $screen-laptop) {
      font-size: $text-font-size-large;
    }
  }
  .post-link {
    font-family: $sans-serif;
    font-size: $text-font-size-medium;
    @media screen and (min-width: $screen-laptop) {
      font-size: $text-font-size-large;
    }
  }
}

.post-footer {
  border-top: 1px solid $divider-color;
  margin-top: $layout-gap;
}

.post-tags {
  font-family: $monospace;
  font-size: $text-font-size-small;
  color: #AFB0B3;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    &:before {
      content: "♯";
      color: #D8D8D8;
    }
    padding-right: $unit-gap;
  }
}

.foot-log {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #C8C9CC;
}

// svg
// ============================================================
svg {
  display: block;
  width: 100%;
  margin: 1em 0;
}

// code
// ============================================================
code.language-plaintext {
  background-color: $bg-code-color;
  border: 1px solid $line-color;
  border-radius: $radius-tiny-size;
  padding: 4px;
  font-size: 0.9em;
}

code {
  letter-spacing: 0 !important;
  text-align : left !important;
  word-break: normal !important;
}

.highlight {
  border-radius: $radius-tiny-size;
  background: $bg-code-color;
  margin: $layout-gap 0;
  pre {
    letter-spacing: 0 !important;
    line-height: 1.25 !important;
    font-size: $text-font-size-small !important;
    margin: 8px;
  }
}
