@media print {
  body {
    display: flex;
    flex-direction: column;
  }

  nav,
  footer {
    display: none !important;
  }

  .post-content {
    display: block !important;
    p {
      word-break: normal;
      line-break: loose;
      overflow-wrap: break-word;
      text-align: justify;
    }
  }
}
